h1 = "Välkommen till Birdwatcher forum!!"
section
    h2 = "Se andras inlägg i kategorierna Pictures, Spots och Bogos Binted"
    h2 = "Eller skapa ett konto och logga in för att kunna publicera dina egna inlägg :)"